<div ng-controller="UserController">
    <div class="col-sm-12 col-md-12 col-xs-12 padding-0">
        <ul class="nav nav-tabs responsive-tabs">
            <li class="active"><a href="#Login">Login</a></li>
            <li><a href="#Registration">Registration</a></li>
           <!--  <li><a href="#PolicyRequest">Policy Request</a></li> -->
        </ul>

        <div class="tab-content panelFull panelBorder">
            <!-- Login -->
            <div id="Login" class="tab-pane active">
                <div class="row">
                    <form name="frmLogin" ng-submit="vm.userLogin(frmLogin.$valid,vm.login)" autocomplete="off" novalidate>
                        <div class="col-sm-12 col-md-12 col-xs-12 padding-0">
                            <div class="col-xs-12 col-sm-6 col-md-4 form-group label-floating">
                                <div class="col-xs-12 col-sm-12 col-md-12 padding-0">
                                    <label class="control-label">Email</label>
                                    <input type="text" name="email" ng-model="vm.login.email" class="form-control" required>
                                    <span class="error" ng-if="frmLogin.$submitted || frmLogin.email.$dirty && frmLogin.email.$invalid">
                                        <span ng-show="frmLogin.email.$error.required">Please enter email</span>
                                    </span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-12 col-sm-6 col-md-4 form-group label-floating">
                                <div class="col-xs-12 col-sm-12 col-md-12 padding-0">
                                    <label class="control-label">Password</label>
                                    <input type="text" name="pwd" ng-model="vm.login.pwd" class="form-control" required>
                                    <span class="error" ng-if="frmLogin.$submitted || frmLogin.pwd.$dirty && frmLogin.pwd.$invalid">
                                        <span ng-show="frmLogin.pwd.$error.required">Please enter password</span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>  
                    </form>
                </div>        
            </div>
                
            <!--User Registration-->
            <div id="Registration" class="tab-pane">
                <div class="row">
                    <form name="frmUser" ng-submit="vm.saveUser(frmUser,vm.user)" autocomplete="off" novalidate>
                        <div class="col-sm-12 col-md-12 col-xs-12 padding-0">
                            
                            <div class="col-xs-12 col-sm-4 col-md-3  form-group label-floating">
                                <div class="col-xs-12 col-sm-12 col-md-12 padding-0">
                                    <label class="control-label">First Name</label>
                                    <input type="text" name="firstName" ng-model="vm.user.firstName" class="form-control" required>
                                    <span class="error" ng-if="frmUser.$submitted || frmUser.firstName.$dirty && frmUser.firstName.$invalid">
									    <span ng-show="frmUser.firstName.$error.required">Please enter first name</span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-3 form-group label-floating">
                                <div class="col-xs-12 col-sm-12 col-md-12 padding-0">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" name="lastName" ng-model="vm.user.lastName" class="form-control" required>
                                    <span class="error" ng-if="frmUser.$submitted || frmUser.lastName.$dirty && frmUser.lastName.$invalid">
                                        <span ng-show="frmUser.lastName.$error.required">Please enter last name</span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-3 form-group label-floating">
                                <div class="col-xs-12 col-sm-12 col-md-12 padding-0">
                                    <label class="control-label">Email Address</label>
                                    <input type="email" name="email" ng-model="vm.user.email" class="form-control" required>
                                    <span class="error" ng-if="frmUser.$submitted || frmUser.email.$dirty && frmUser.email.$invalid">
									    <span ng-show="frmUser.email.$error.required">Please enter email</span>
                                    <span ng-show="frmUser.email.$error.email">Please enter valid email</span>
                                    </span>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div class="col-xs-12 col-sm-4 col-md-3 form-group label-floating">
                                <div class="col-xs-12 col-sm-12 col-md-12 padding-0">
                                    <label class="control-label">Password</label>
                                    <input type="text" name="password" ng-model="vm.user.password" class="form-control" required>
                                    <span class="error" ng-if="frmUser.$submitted || frmUser.password.$dirty && frmUser.password.$invalid">
									    <span ng-show="frmUser.password.$error.required">Please enter password</span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-3 form-group label-floating">
                                <div class="col-xs-12 col-sm-12 col-md-12 padding-0">
                                    <label class="control-label">Confirm Password</label>
                                    <input type="text" name="confirmPassword" ng-model="vm.user.confirmPassword" class="form-control" required>
                                    <span class="error" ng-if="frmUser.$submitted || frmUser.confirmPassword.$dirty && frmUser.confirmPassword.$invalid">
									    <span ng-show="frmUser.confirmPassword.$error.required">Please enter confirm password</span>
                                        <span ng-show="vm.user.password !== vm.user.confirmPassword && !frmUser.confirmPassword.$error.required">Password mismatch</span>
                                        <!-- <span ng-show="frmUser.confirmPassword.$error.noMatch">Passwords do not match.</span> -->
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <button type="submit" class="btn btn-primary">Add User</button>
                        </div>
                    </form>
                </div>
                <div class="clearfix">&nbsp;</div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 table_bg">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Full Name</th>
                                            <th>User Type</th>
                                            <th>Bank Name</th>
                                            <th>Account No.</th>
                                            <th>Contact</th>
                                            <th>Email</th>
                                            <th>Aadhar No.</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="user in vm.userList">
                                            <td class="text-center">{{$index + 1}}</td>
                                            <td>{{user}}</td>
                                            <td>BY</td>
                                            <td>ICICI</td>
                                            <td>6585254695</td>
                                            <td>9898989898</td>
                                            <td>test@easypay.in</td>
                                            <td>456185859256</td>
                                            <td>Rs.15000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12 col-md-12 col-xs-12 padding-0">
                                <ul class="pagination pagination-primary pull-right">
                                    <li>
                                        <a href="#">
                                            < </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li class="active"><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"> > </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Policy Request-->
            <!-- <div id="PolicyRequest" class="tab-pane">
                <div class="row">
                    <form name="frmPolicyRequest" ng-submit="vm.policyRequest(frmPolicyRequest,vm.policyData)" autocomplete="off" novalidate>
                        <div class="col-sm-12 col-md-12 col-xs-12 padding-0">
                            <div class="col-xs-12 col-sm-4 col-md-3 form-group label-floating">
                                <div class="col-xs-12 col-sm-12 col-md-12 padding-0">
                                    <label class="control-label">User ID</label>
                                    <input type="text" name="userId" ng-model="vm.policyData.userId" class="form-control" required>
                                    <span class="error" ng-if="frmPolicyRequest.$submitted || frmPolicyRequest.userId.$dirty && frmPolicyRequest.userId.$invalid">
									    <span ng-show="frmPolicyRequest.userId.$error.required">Please enter user id</span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-3 form-group label-floating">
                                <div class="col-xs-12 col-sm-12 col-md-12 padding-0">
                                    <label class="control-label">Insurance Company ID</label>
                                    <input type="text" name="insuranceID" ng-model="vm.policyData.insuranceId" class="form-control" required>
                                    <span class="error" ng-if="frmPolicyRequest.$submitted || frmPolicyRequest.insuranceID.$dirty && frmPolicyRequest.insuranceID.$invalid">
									    <span ng-show="frmPolicyRequest.insuranceID.$error.required">Please enter insurance company id</span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-3 form-group label-floating">
                                <div class="col-xs-12 col-sm-12 col-md-12 padding-0">
                                    <label class="control-label">Vehicle Reg. No.</label>
                                    <input type="text" name="vehicleRegNo" ng-model="vm.policyData.vehicleRegNumber" class="form-control" required>
                                    <span class="error" ng-if="frmPolicyRequest.$submitted || frmPolicyRequest.vehicleRegNo.$dirty && frmPolicyRequest.vehicleRegNo.$invalid">
									    <span ng-show="frmPolicyRequest.vehicleRegNo.$error.required">Please enter vehicle registration no.</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <button type="submit" class="btn btn-primary">Policy Request</button>
                        </div>
                    </form>
                </div>
                <div class="clearfix">&nbsp;</div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 table_bg">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Full Name</th>
                                            <th>User Type</th>
                                            <th>Bank Name</th>
                                            <th>Account No.</th>
                                            <th>Contact</th>
                                            <th>Email</th>
                                            <th>Aadhar No.</th>
                                            <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td>Andrew Mike</td>
                                            <td>BY</td>
                                            <td>ICICI</td>
                                            <td>6585254695</td>
                                            <td>9898989898</td>
                                            <td>test@easypay.in</td>
                                            <td>456185859256</td>
                                            <td>Rs. 15000</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">2</td>
                                            <td>Andrew Mike</td>
                                            <td>BY</td>
                                            <td>ICICI</td>
                                            <td>6585254695</td>
                                            <td>9898989898</td>
                                            <td>test@easypay.in</td>
                                            <td>456185859256</td>
                                            <td>Rs. 15000</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">3</td>
                                            <td>Andrew Mike</td>
                                            <td>BY</td>
                                            <td>ICICI</td>
                                            <td>6585254695</td>
                                            <td>9898989898</td>
                                            <td>test@easypay.in</td>
                                            <td>456185859256</td>
                                            <td>Rs. 15000</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">4</td>
                                            <td>Andrew Mike</td>
                                            <td>BY</td>
                                            <td>ICICI</td>
                                            <td>6585254695</td>
                                            <td>9898989898</td>
                                            <td>test@easypay.in</td>
                                            <td>456185859256</td>
                                            <td>Rs. 15000</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">5</td>
                                            <td>Andrew Mike</td>
                                            <td>BY</td>
                                            <td>ICICI</td>
                                            <td>6585254695</td>
                                            <td>9898989898</td>
                                            <td>test@easypay.in</td>
                                            <td>456185859256</td>
                                            <td>Rs. 15000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12 col-md-12 col-xs-12 padding-0">
                                <ul class="pagination pagination-primary pull-right">
                                    <li>
                                        <a href="#">
                                            < </a>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li class="active"><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"> > </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.responsive-tabs').responsiveTabs({
        accordionOn: ['xs', 'sm']
    });

</script>